@page 
@model BolFood.Pages.Restaurants.ListModel
@{
}

    <h1>Restaurants</h1>
    <form  method="get">
        <div class="form-group">
            <div class="input-group">
                <input type="search" asp-for="SearchTerm" class="form-control" />
                <div class="input-group-append">
                    <button type="submit" class="input-group-text">
                        <span class="">
                            <i class="fas fa-search"></i>
                        </span>
                    </button>
                    
                </div>
                
            </div>

        </div>
    </form>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Cusine</th>
                        <th>Location</th>
                    </tr>
                </thead>
                <tbody>
                    @if (!Model.Restaurants.Any())
                    {
                        <tr class="text-center">
                            <td colspan="4">___ No Restaurants were Found ___</td>
                        </tr>
                    }
                    else
                    {
                        @foreach (var restaurant in Model.Restaurants)
                        {
                            <tr>
                                <td>@restaurant.Name</td>
                                <td>@restaurant.Cuisine</td>
                                <td>@restaurant.Location</td>
                                <td>
                                    <a asp-page="./Detail" 
                                       asp-route-restaurantId="@restaurant.Id">
                                        Detail
                                    </a>
                                </td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        <div class="text-center">
            @Model.Message
        </div>